################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/FlyingSnow.Database/bin/Debug
/FlyingSnow.Database/obj/Debug
/FlyingSnow.Contract/bin/Debug
/FlyingSnow.Contract/obj/Debug
/FlyingSnow.Service/bin/Debug
/FlyingSnow.Service/obj/Debug
/TestApp/bin/Debug
/TestApp/obj/Debug
/ConsoleApplication1
