<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="BaseEntities" connectionString="metadata=res://*/BaseModel.csdl|res://*/BaseModel.ssdl|res://*/BaseModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=BD12;initial catalog=ts111;persist security info=True;user id=sa;password=1qaz2wsxE;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="OnlineEntities" connectionString="metadata=res://*/OnlineModel.csdl|res://*/OnlineModel.ssdl|res://*/OnlineModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=BD12;initial catalog=ts111_online;persist security info=True;user id=sa;password=1qaz2wsxE;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="BillEntities" connectionString="metadata=res://*/BillModel.csdl|res://*/BillModel.ssdl|res://*/BillModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=BD12;initial catalog=ts111_bill;persist security info=True;user id=sa;password=1qaz2wsxE;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="tsbossEntities" connectionString="metadata=res://*/BossModel.csdl|res://*/BossModel.ssdl|res://*/BossModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=BD12;initial catalog=tsboss;persist security info=True;user id=sa;password=1qaz2wsxE;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="OldEntities" connectionString="metadata=res://*/OldModel.csdl|res://*/OldModel.ssdl|res://*/OldModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=BD12;initial catalog=ts111_old;persist security info=True;user id=sa;password=1qaz2wsxE;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="BossBallEntities" connectionString="metadata=res://*/BossBallModel.csdl|res://*/BossBallModel.ssdl|res://*/BossBallModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=BD12;initial catalog=tsboss_ball;persist security info=True;user id=sa;password=1qaz2wsxE;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>